.form-box form {
  display: flex;
  flex-direction: column;
}

.form-box input {
  width: 95%;
  padding: 10px;
  border: 1px solid;
  border-color:black;
  background-color: aliceblue;
  color: black;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
  font-family: Arial, sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  border-radius: 8px;
  width: 500px;
  padding: 30px;
  margin: 20px auto 150px;
  background-color:#f0f0f0;
}

.form-box button {
  display: flex;
  padding: 10px;
  width: 200px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  margin: 10px auto;
}

h3{
  margin: 50px auto 0;
  text-align: center;
  font-size: 40px;
  color:rgb(0, 0, 0);
  font-family: Arial, sans-serif;
}

.edit-container {
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  border-radius: 8px;
  width: 500px;
  margin: 20px auto 50px;
}

.confirm-delete-container {
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  border-radius: 8px;
  width: 500px;
  margin: 20px auto 50px;
  background-color:black;
}

.confirm-delete-container p {
  margin: 50px auto 5%;
  text-align: center;
  min-height: auto;
  font-size: 20px;
  padding-top: 5%;
  width: 300px;
  color:rgb(243, 242, 242);
  font-family: Arial, sans-serif;
}
