.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10vh;
  border-radius: 8px;
  width: 500px;
  padding: 30px;
  margin: 20px auto 150px;
  background-color:#f0f0f0;
}

.top-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  gap: 200px;
}

.top-row select {
  width: 150px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color:rgba(39, 57, 5, 0.331);
  color: rgb(242, 237, 237);
  font-size: 15px;
}

.student-list {
  width: 100%;
}

.student-list p {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.download-all {
  width: 120px;
  padding: 10px;
  margin: 0;
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.student-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.student-row span {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.student-row button {
  width: 120px;
  padding: 10px;
  margin: 0;
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  justify-content: space-between;
}

.downloadapplications-container h1 {
  font-size: 25px;
  color:#444444;
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}


