.work3008-container {
    display: flex;
    min-height: 100vh;
}

.round-box {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.round-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.add-round-btn {
  background-color: #B58B0B;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
}

.add-round-btn:hover {
  background-color: #B58B0B;
}

.round-header h2 {
  margin: 0;
}

.round-content {
  min-height: 150px;
}


.round-box {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.round-header {
  display: flex;
  align-items: center;
}


.round-card {
  margin-top: 20px;
  padding: 15px;
  background-color: #f5f7fa;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.round-card h3 {
  margin-top: 0;
}


.projects-box {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.projects-container {
  display: flex;
  gap: 20px;
}

.project-list {
  flex: 3;
  background: #f5f7fa;
  padding: 15px;
  border-radius: 8px;
}

.project-description {
  flex: 7;
  background: #f5f7fa;
  padding: 15px;
  border-radius: 8px;
}

.project-item {
  padding: 12px;
  margin-bottom: 8px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.project-item:hover {
  background: #374151;
  color: white;
}